.App {

  display: flex;
  width: 100vw;
  height: 100vh;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.Board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}